/***** INITAL DECLARATIONS *****/
html {
    all: unset;
}
body, h1, h2, p, a, form, div, footer, header, ul, li, select, label, button, input {
    padding: 0;
    margin: 0;
}

body {
    background-color: #eee;
}

/***** COLOURS *****/
/*
    header h1 background-color:  95A54A
    content background-color: E6D683 
    contentMain background-color: DBC952/A9A54C
    highlight? color: 493857
*/


/***** DESKTOP *****/

@media only screen and (min-width: 800px){

    /* HEADER */

    header {
        height: 10vh;
        background-color: rgb(54, 156, 252);
    }

    header h1 {
        font-size: clamp(40px, 60px, 120px);
        color: rgb(245, 245, 245);
        font-family: "Pacifico", cursive;
        font-weight: 100;
    }
    
    header nav {
        visibility: hidden;
    }

    /***** CONTENT *****/

    #content {
        display: flex;
        height: 100%;
        width: 100%;
    }

    .contentTitle {
        font-size: 40px;
        font-family: "Verdana", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    /***** CONTENTMAIN *****/

    #contentMain {
        flex: 1;
        margin: 20px 150px;
    }

    /***** CONTENTDIV *****/

    .contentDiv {
        margin-bottom: 50px;
    }

    /** consistent styles for seeMore buttons **/
    .seeMore {
        padding: 0px 5px;
        font-size: 30px;
        font-family: 'Helvetica', sans-serif;
        font-weight: 600;
    }

    /* FORM DOG DETAILS */

    #dogDetails {
        text-align: center;
    }

    #dogForm {
        display: inline-block;
    }

    #dogForm label {
        display: block;
        font-family: 'Helvetica', sans-serif;
        font-weight: 600;
    }

    #dogForm input, textarea {
        border: 2px solid;
        border-radius: 3px;
    }

    #dogSubmit {
        width: 80%;
        margin: 15px;
        font-size: 40px;
    }

    /***** SERVICES *****/

    #services {
        text-align: center;
    }

    /* REVIEWS */

    #reviews {
        width: 600px;
        padding: 20px;
        text-align: center;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: rgb(231, 231, 231);
    }

    #reviews div {
        display: block;
        text-align: center;
        margin: auto;
        width: 80%;
        background-color: bisque;
    }

    /*FOOTER*/

    footer {
        position: block;
        bottom: 0;
        width: 100%;
        overflow: hidden;
        background-color: rgb(54, 156, 252);
    }

    footer h1 {
        margin-left: 10px;
        font-size: 20px;
        color: rgb(245, 245, 245);
        font-family: "Pacifico", cursive;
        font-weight: 100;
    }

    footer ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: rgb(245, 245, 245);
        list-style-type: none;
    }

    footer ul li {
        margin: 0 10%;
    }

}

/***** MOBILE *****/

@media only screen and (max-width: 800px) {

    /***** NAV *****/
    nav {
        height: 100%;
        width: 100%;
    }

    #navBtn {
        position: fixed;
        z-index: 100;
        top: 15px;
        right: 15px;
        height: 50px;
        width: 50px;
        border: 2px solid;
        background-color: beige;
    }
    #navDisplay {
        position: fixed;
        display: none;
        z-index: 98;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: #8b94a0ec;
    }
    #navDisplay ul {
        display: flex;
        height: 100%;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        font-family: 'Helvetica', sans-serif;
        font-weight: 600;
    }
    #navDisplay li {
        font-size: 45px;
        color: rgb(245, 245, 245);
        font-family: "Pacifico", cursive;
        font-weight: 100;
        text-shadow: 2px 2px black;
        font-weight: 100;
    }

    /***** HEADER *****/

    header {
        height: 80px;
        background-color: #5a6a7e;
        line-height: 1;
    }

    #headerContainer {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: left;
        align-items: center;
    }

    #headerContainer a {
        font-size: 45px;
        color: rgb(245, 245, 245);
        font-family: "Pacifico", cursive;
        font-weight: 100;
        text-decoration: none;
        margin-left: 15px;
    }

    /***** CONTENT *****/

    #content {
        display: block;
        height: 100%;
        width: 100%;
        background-image: url('./img/background.webp');
    }

    .seeMore {
        margin: 5px 0;
    }

    /***** CONTENTMAIN *****/

    #contentMain {
        margin: 0 25px;
        background-color: #8b94a0ec;
    }

    /***** CONTENTDIV *****/

    .contentDiv {
        margin: 0 15px 25px 15px;
    }

    .contentDiv h1 {
        font-size: 40px;
        font-family: "Georgia", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: white;
        text-shadow: 3px 3px grey;
        margin-bottom: 10px;
    }

    .contentDiv p {
        font-size: 15px;
        font-family: "Arial", sans-serif;
        color: white;
        text-shadow: 1px 1px grey;
    }

    /***** WELCOME *****/

    #welcome {
        /* margin: 0px 0px 0px 0px; */
        text-align: center;
    }

    #welcome img {
        max-height: 300px;
        width: 100%;
    }

    
    /***** SERVICES *****/

    #services {
        text-align: center;
        padding-bottom: 10px;
    }
    .serviceDiv {
        width: 100%;
        height: 200px;
        margin-bottom: 25px;
    }
    
    .serviceDiv h1 {
        font-size: 40px;
        font-family: "Georgia", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: white;
        text-shadow: 2px 2px black, 2px 2px black;
    }

    #serviceBoarding {
        background-image: url("./img/kennelLux.jpg");
        background-repeat: no-repeat;
        background-size:  100% 200px;
    }

    #serviceWalking {
        background-image: url("./img/dogwalk1.jpg");
        background-repeat: no-repeat;
        background-size: 100% 200px;
    }

    #serviceGrooming {
        background-image: url("./img/doggroom1.jpg");
        background-repeat: no-repeat;
        background-size: 100% 200px;
    }

    /* REVIEWS */

    #reviews {
        max-height: 600px;
        padding: 25px 0;
        text-align: center;
        overflow: hidden;
    }

    #reviews div {
        display: block;
        text-align: center;
        margin: auto;
        width: 80%;
        background-color: bisque;
    }

    /*FOOTER*/

    footer {
        position: block;
        bottom: 0;
        width: 100%;
        overflow: hidden;
        background-color: #5a6a7e;
    }

    footer h1 {
        margin-left: 10px;
        font-size: 20px;
        color: rgb(245, 245, 245);
        font-family: "Pacifico", cursive;
        font-weight: 100;
    }

    footer ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: rgb(245, 245, 245);
        list-style-type: none;
    }

    footer ul li {
        margin: 0 10%;
    }

}