/***** INITAL DECLARATIONS *****/
html {
    all: unset;
}
body, h1, h2, p, a, form, div, footer, header, ul, li, select, label, button, input {
    padding: 0;
    margin: 0;
}

body {
    background-color: #eee;
}

/***** COLOURS *****/
/*
    header h1 background-color:  95A54A
    content background-color: E6D683 
    contentMain background-color: DBC952/A9A54C
    highlight? color: 493857
*/

/***** DESKTOP *****/

@media only screen and (min-width: 800px){

    /* HEADER */

    header {
        height: 10vh;
        background-color: rgb(54, 156, 252);
    }

    header h1 {
        font-size: clamp(40px, 60px, 120px);
        color: rgb(245, 245, 245);
        font-family: "Pacifico", cursive;
        font-weight: 100;
    }
    
    header nav {
        visibility: hidden;
    }

    /***** CONTENT *****/

    #content {
        display: flex;
        height: 100%;
        width: 100%;
    }

    .contentTitle {
        font-size: 40px;
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }

    /***** CONTENTMAIN *****/

    #contentMain {
        flex: 1;
        margin: 20px 150px;
    }

    /***** CONTENTDIV *****/

    .contentDiv {
        margin-bottom: 50px;
    }

    /** consistent styles for seeMore buttons **/
    .seeMore {
        padding: 0px 5px;
        font-size: 30px;
        font-family: 'Helvetica', sans-serif;
        font-weight: 600;
    }

    /* FORM DOG DETAILS */

    #dogDetails {
        text-align: center;
    }

    #dogForm {
        display: inline-block;
    }

    #dogForm label {
        display: block;
        font-family: 'Helvetica', sans-serif;
        font-weight: 600;
    }

    #dogForm input, textarea {
        border: 2px solid;
        border-radius: 3px;
    }

    #dogSubmit {
        width: 80%;
        margin: 15px;
        font-size: 40px;
    }

    /***** SERVICES *****/

    #services {
        text-align: center;
    }

    /* REVIEWS */

    #reviews {
        width: 600px;
        padding: 20px;
        text-align: center;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: rgb(231, 231, 231);
    }

    #reviews div {
        display: block;
        text-align: center;
        margin: auto;
        width: 80%;
        background-color: bisque;
    }

    /*FOOTER*/

    footer {
        position: block;
        bottom: 0;
        width: 100%;
        overflow: hidden;
        background-color: rgb(54, 156, 252);
    }

    footer h1 {
        margin-left: 10px;
        font-size: 20px;
        color: rgb(245, 245, 245);
        font-family: "Pacifico", cursive;
        font-weight: 100;
    }

    footer ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: rgb(245, 245, 245);
        list-style-type: none;
    }

    footer ul li {
        margin: 0 10%;
    }

}

/***** MOBILE *****/

@media only screen and (max-width: 800px) {

    /***** HIDE SCROLLBAR its still there ...*****/
    body::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }

    body {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    /***** HEADER *****/

    header {
        height: 110px;
        background-color: #5a6a7e;
    }

    header a {
        font-size: 60px;
        color: rgb(245, 245, 245);
        font-family: "Pacifico", cursive;
        font-weight: 100;
        text-decoration: none;
    }

    /***** NAV *****/

    nav {
        position: absolute;
        right: 5px;
        top: 10px;
        height: 50px;
        width: 50px;
        background-color: beige;
        /** **/ visibility: hidden;
    }

    nav div {
        position: sticky;
        top: 0;
        left: 0;
    }

    /***** CONTENT *****/

    #content {
        display: block;
        height: 100%;
        width: 100%;
        background-image: url('./img/background.webp');
    }

    .contentTitle {
        font-size: 40px;
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
        color: white;
        text-shadow: 2px 2px black;
    }

    .seeMore {
        margin: 5px 0;
    }

    /***** CONTENTMAIN *****/

    #contentMain {
        margin: 0 25px;
        background-color: #8b94a0ec;
    }

    /***** CONTENTDIV *****/

    .contentDiv {
        margin-bottom: 50px;
    }

    /** consistent styles for seeMore buttons **/
    .seeMore {
        padding: 0px 5px;
        font-size: 30px;
        font-family: 'Helvetica', sans-serif;
        font-weight: 600;
    }

    /***** WELCOME *****/

    #contentWelcome {
        margin: 0 10px 20px 10px;
        text-align: center;
    }

    #contentWelcome img {
        max-height: 300px;
        width: 100%;
    }

    #contentWelcome p 
    {
        font-size: 25px;
        font-weight: 550;
        letter-spacing: .5px;
        color: white;
        text-shadow: 1px 1px grey;
    }

    /***** DOGDETAILS *****/
    #dogDetails {
        text-align: center;
    }

    #dogForm {
        display: inline-block;
    }

    #dogForm label {
        display: block;
        font-family: 'Helvetica', sans-serif;
        font-weight: 600;
        margin-bottom: 5px;
    }

    #dogForm input, textarea {
        width: 80%;
        border: 2px solid;
        border-radius: 3px;
        margin-bottom: 15px;
    }

    #dogForm textarea {
        height: 80px;
    }

    #dogSubmit {
        width: 75%;
        height: 60px;
        border: 2px solid;
        border-radius: 3px;
        font-size: 40px;
    }

    /***** SERVICES *****/

    #services {
        text-align: center;
        margin: 0 15px 0px 15px;
        padding-bottom: 10px;
    }

    #services h1 {
        margin-bottom: 15px;
    }

    .serviceDiv {
        min-height: 300px;
        width: 100%;
        
        color: white;
        font-size: 25px;
        color: rgb(245, 245, 245);
        font-family: "Pacifico", cursive;
        font-weight: 100;
    }

    .serviceDiv a {
        position: relative;
        top: 140px;
        padding: 0px 5px;
        background-color: rgba(87, 87, 87);
        border: 4px solid rgb(109, 109, 109);
        text-decoration: none;
    }
    .serviceDiv a:visited {
        color: white;
    }

    #serviceBoarding {
        background-image: url("./img/kennelLux.jpg");
        background-repeat: no-repeat;
        background-size: 100% 300px;
        margin-bottom: 10px;
    }
    #serviceBoarding div h1 {
        text-shadow: 2px 2px black;
    }

    #serviceWalking {
        background-image: url("./img/dogwalk1.jpg");
        background-repeat: no-repeat;
        background-size: 100% 300px;
        margin-bottom: 10px;
    }
    #serviceWalking div h1 {
        text-shadow: 2px 2px black;
    }

    #serviceGrooming {
        background-image: url("./img/doggroom1.jpg");
        background-repeat: no-repeat;
        background-size: 100% 300px;
    }
    #serviceGrooming div h1 {
        text-shadow: 2px 2px black;
    }

    /* REVIEWS */

    #reviews {
        max-height: 600px;
        padding: 25px 0;
        text-align: center;
        overflow: hidden;
        background-color: #A9A54C;
    }

    #reviews div {
        display: block;
        text-align: center;
        margin: auto;
        width: 80%;
        background-color: bisque;
    }

    /*FOOTER*/

    footer {
        position: block;
        bottom: 0;
        width: 100%;
        overflow: hidden;
        background-color: rgb(54, 156, 252);
    }

    footer h1 {
        margin-left: 10px;
        font-size: 20px;
        color: rgb(245, 245, 245);
        font-family: "Pacifico", cursive;
        font-weight: 100;
    }

    footer ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: rgb(245, 245, 245);
        list-style-type: none;
    }

    footer ul li {
        margin: 0 10%;
    }

}